div#octopus {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  width: 200px;
}

div#glasses {
  position: relative;
  top: -190px;
  right: -45px;
  width: 200px;
  z-index: 1;
}

div#hat {
  position: relative;
  top: -450px;
  right: 20px;
  width: 200px;
  height: 100px;
  z-index: 1;
}
